body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Zen Kaku Gothic Antique';
}
 

.login-sing-container{
  margin: 15px 0;
  padding: 0;
}

 .login-sing-container .itineraryGenerator,
.login-sing-container .alreadyMember{
  display: flex;
  color: #212121;
  font-size: 16px;
  font-weight: 400;
  align-items: center;
  gap: 10px;
}
.login-sing-container .btn-login{

}
.login-sing-container .btn-sign{
 border: 1px solid #212121;
background: none;
  color: #212121;
font-weight: 500;
letter-spacing: 0.7px;
box-shadow: none;
}
.login-sing-container .btn-sign:hover{
  background: none;
}
.login-sing-container  .itineraryGenerator p, 
.login-sing-container .alreadyMember p{
  margin: 0;
}
.form .heading{
  color: #000;
text-align: center;
font-size: 25px;
font-style: normal;
font-weight: 700;
letter-spacing: -0.5px;
margin-bottom: 40px;
}

.form .custom-input input{
font-size: 14px;
font-weight: 400;

}
.form  fieldset{
  border-radius: 0 !important;
}
.form .custom-input label{
font-size: 14px;
font-weight: 400;
}
 .form .btn{
background: #4067EC;
flex-shrink: 0; 
color: #FFF;
text-align: center;
font-size: 14px;
font-weight: 700;
height: 48px;
margin-bottom: 16px;
border-radius: 0 !important;
margin-top: 30px;
}
.note{
color: #9E9E9E;

font-size: 10.24px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-decoration-line: underline;
}
.note a {
  color: #424242;

font-size: 10.24px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-decoration-line: underline;
}
.remember-me{
padding-left: 15px;
color: #616161;
font-size: 13px;
font-style: normal;
font-weight: 400;
}
.remember-me label{
  padding-left:8px;
}
.remember-me .MuiCheckbox-root{
color: #4067EC;
width: 22px;
height: 22px;
}
.remember-grid{
  display:flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top:10px;
}
.forgotPassword p{
  color: #616161;
font-size: 13px;
font-weight: 400;
}
 