/* Chatbot.css */
.options {
  padding-bottom: 15px;
}

.options-header {
  border-radius: 9px;
  background: #F0F1FF;
  display: inline-flex;
  padding: 6px 8px;
  color: #6D7FDC;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
}

.options-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.option-item {
  display: inline-flex;
  padding: 5px 6px 5px 8px;
  justify-content: center;
  align-items: center;
  border-radius: 9px;
  background: #E4E4E4;
  color: #565E6C;
  font-size: 11px;
  font-weight: 400;
  line-height: 18px;
  margin-right: 4px;
  margin-bottom: 5px;
  cursor: pointer;
}

.option-item:hover {
  box-shadow: inset 195px 0px 0px #2273c4;
  color: #ffffff;
}

.stats {
  color: white;
  font-size: 0.9rem;
  background-color: rgba(45, 159, 253, 0.589);
  display: flex;
  background: linear-gradient(to top right, rgb(15, 146, 221), #055991);
  border-radius: 10px;
  align-items: center;
  justify-content: center;
}

.column-left {
  text-align: right;
}

.column-right {
  text-align: left;
  padding: 8px;
}

.url-link {
  font-size: 0.9rem;
  padding: 10px;
  border-radius: 3px;
  background-color: #2273c4;
  display: flex;
  align-items: center;
  color: #fff;
}

.url-icon {
  width: 35px;
  margin-right: 10px;
}

.url-header {
  font-size: 0.9rem;
  font-weight: lighter;
}

.tel-link {
  font-size: 0.7rem;
  padding: 2px 5px;
  border-radius: 30px;
  background-color: #2273c4;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-decoration: none;
  fill: #fff;
}

.error {
  color: #ff0000;
  font-size: 0.8em;
  padding: 5px;
  text-align: center;
}

.sideBar {
  width: 283px;
  border-radius: 24px;
  background: #ECF3FF;
  width: 25%;
  border-radius: 24px;
  background: #ECF3FF;
}

.sideBar h2 {
  color: #000;
  font-size: 20px;
  font-weight: 800;
  line-height: 30px;
  text-align: center;
}

.sideBar .buttonTrip,
.sideBar .buttonTrip:hover {
  border-radius: 12px;
  background: #2554AF;
  color: #FFF;
  font-size: 14px;
  font-weight: 400;
  padding: 7px 83px 7px 80px;
  width: 100%;
  height: 40px;
  text-wrap: nowrap;
}

.leftMenu h6 {
  color: rgb(23 26 31 / 50%);
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
}

.leftMenu ul li {
  color: #565E6C;
  font-size: 25px;
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 8px;
}

.leftMenu ul li:hover {
  background-color: transparent;
  color: #2554AF;
}

.leftMenu ul li:hover .icon {
  color: #2554AF;
}

.chatbotList {
  min-width: 500px;
}

.aiChatbot {
  display: flex;
  align-items: center;
  justify-content: center;
}

.aiChatbot .chatbotList li {
  border-radius: 12px;
  background: #FFF;
  align-items: center;
  display: flex;
  list-style: none;
  gap: 15px;
  position: relative;
  border: solid 1px #fff;
}

.aiChatbot .chatbotList li .icon {
  display: block;
  padding: 5px 10px;
  justify-content: center;
  align-items: center;
  border-radius: 9px;
  background: #E8F1FC;
}

.aiChatbot .chatbotList li .icon img {
  width: 24px;
  margin: 0 auto;
}

.aiChatbot .chatbotList li p {
  color: #171A1F;
  font-size: 13px;
}

.aiChatbot .chatbotList li:hover {
  border: 1px solid #8775FD;
  box-shadow: 0px 0px 1px 0px rgba(23, 26, 31, 0.07), 0px 0px 2px 0px rgba(23, 26, 31, 0.12);
  cursor: pointer;
}

.aiChatbot .chatbotList li:hover:after {
  display: block;
  content: "";
  background-image: url(../../assets/list-arrowleft.png);
  width: 18px;
  height: 18px;
  position: absolute;
  right: 15px;
}

.aiChatbot .chatbotList li:hover .icon {
  color: #fff;
}

.aiChatbot h1 {
  color: #171A1F;
  font-size: 24px;
  font-weight: 700;
  line-height: 48px;
  text-align: center;
}

.header-container {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.chatbotPage {
  height: calc(100vh - 91px);
  margin: 0;
}

.chatbot-container {
  display: flex;
  padding: 0;
}

.sideBar {
  background-color: #f8f9fa;
  border-right: 1px solid #dee2e6;
  overflow-y: auto;
  height: calc(100vh - 91px);
  width: 18%;
 }

 .custom-scroll{
  overflow-y: scroll !important;
 }
 .custom-scroll::-webkit-scrollbar {
  width: 3px !important;
}

.custom-scroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 18px rgba(250, 250, 251, 0.3);
  -webkit-border-radius: 5px;
  border-radius: 2px;
  margin-top: 16px;
  margin-bottom: 16px;

}
.custom-scroll::-webkit-scrollbar-thumb {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: #dfe2e6 !important;
  width: 6px !important;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: #757d85;
}


.rightBar {
  // padding: 20px;
  overflow-y: auto;
  height: calc(100vh - 150px);
  border-radius: 24px;
  background: #F8F8F8;
  width: 82%;
  margin-left: 16px;
} 
.chatbotPage .tripDetails-grid{
  padding: 10px;
}

.chatbotPage .tripDetails-grid ul{
  // padding-left: 20px ;
}
.chatbotPage .tripDetails-grid .tripDetails-item{
  padding-left: 20px;
}

 .chatbotPage .tripDetails-grid .tripDetails-item .card-image-container{
  width: 180px !important;
 }
 .chatbotPage .tripDetails-grid .tripDetails-item .loopCard {width: 240px;}