/* Chatbot.css */
.chatbot-container {
    display: grid;
    grid-auto-flow: column;

}
.react-chatbot-kit-chat-container{
    width: 100%;
}
.react-chatbot-kit-chat-bot-message{
    width: 90%;
}
.messages-container {
    /* min-height: 500px; */
    height: calc(100% - 80px);;
    border-radius: 24px;
    background: #F8F8F8;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}
.options {
    padding-bottom: 15px;
  }
  
  .options-header {
    text-align: center;
    font-size: 1rem;
    font-weight: normal;
  }
  
  .options-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .option-item {
    padding: 8px 15px;
    border: 1px solid #2898ec;
    border-radius: 25px;
    color: #1f91e7;
    font-size: 0.9rem;
    margin: 3px;
    box-shadow: inset 0px 0px 0px #2273c4;
    transition: all 0.5s;
    cursor: pointer;
  }
  
  .option-item:hover {
    box-shadow: inset 195px 0px 0px #2273c4;
    color: #ffffff;
  }
  
  .stats {
    color: white;
    font-size: 0.9rem;
    background-color: rgba(45, 159, 253, 0.589);
    display: flex;
    background: linear-gradient(to top right, rgb(15, 146, 221), #055991);
    border-radius: 10px;
    align-items: center;
    justify-content: center;
  }
  .column-left {
    text-align: right;
  }
  .column-right {
    text-align: left;
    padding: 8px;
  }
  
  .url-link {
    font-size: 0.9rem;
    padding: 10px;
    border-radius: 3px;
    background-color: #2273c4;
    display: flex;
    align-items: center;
    color: #fff;
  }
  .url-icon {
    width: 35px;
    margin-right: 10px;
  }
  .url-header {
    font-size: 0.9rem;
    font-weight: lighter;
  }
  
  .tel-link {
    font-size: 0.7rem;
    padding: 2px 5px;
    border-radius: 30px;
    background-color: #2273c4;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-decoration: none;
    fill: #fff;
  }
  .react-chatbot-kit-chat-message-container{
    height: 100%;
  }  
  .react-chatbot-kit-chat-inner-container{
    height: 100%;
  }
.message {
    background-color: #e6e6e6;
    /* Replace with the background color from your design */
    padding: 8px 12px;
    margin-bottom: 10px;
    border-radius: 4px;
    max-width: 80%;
    word-wrap: break-word;
}

.input-container {
    padding: 10px;
    border-radius: 12px;
    border: 1px solid #0971D2;
    background: #FFF;
}

.message-input {
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    padding: 8px;
    width: calc(100% - 90px);
    margin-right: 10px;
}

.message-input:focus-visible {
    outline: none;
}

.send-button {
    background-color: #007bff;
    color: #ffffff;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.error {
    color: #ff0000;
    font-size: 0.8em;
    padding: 5px;
    text-align: center;
}

.sideBar {
    width: 283px;
    border-radius: 24px;
    background: #ECF3FF;
}

.sideBar h2 {
    color: #000;
    font-size: 20px;
    font-weight: 800;
    line-height: 30px;
    text-align: center;
}

.sideBar .buttonTrip,
.sideBar .buttonTrip:hover {
    border-radius: 12px;
    background: #2554AF;
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
    padding: 7px 83px 7px 80px;
    width: 100%;
    height: 40px;
    text-wrap: nowrap;
}

.leftMenu h6 {
    color: rgb(23 26 31 / 50%);
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
}

.leftMenu ul li {
    color: #565E6C;
    font-size: 25px;
    font-weight: 400;
    line-height: 22px;
    margin-bottom: 8px;
}

.leftMenu ul li:hover {
    background-color: transparent;
    /* color: #FFF; */
    color: #2554AF;
}

.leftMenu ul li:hover .icon {
    /* background-color: #2554AF; */
    color: #2554AF;;
}
.chatbotList{
    min-width: 500px;
}
.aiChatbot{
        display: flex;
    align-items: center;
    justify-content: center;
}
.aiChatbot .chatbotList li {
    border-radius: 12px;
    background: #FFF;
    /* padding: 6px 206px 6px 6px; */
    align-items: center;
    display: flex;
    list-style: none;
    gap: 15px;
    position: relative;
    border: solid 1px #fff;
}

.aiChatbot .chatbotList li .icon {
    display: block;
    width: 44px;
    height: 34px;
    justify-content: center;
    align-items: center;
    border-radius: 9px;
    background: #E8F1FC;
}
.aiChatbot .chatbotList li .icon img {
    width: 24px;
    margin: 0 auto;
}

.aiChatbot .chatbotList li p {
    color: #171A1F;
    font-size: 13px;
}

.aiChatbot .chatbotList li:hover {
    border: 1px solid #8775FD;
    box-shadow: 0px 0px 1px 0px rgba(23, 26, 31, 0.07), 0px 0px 2px 0px rgba(23, 26, 31, 0.12);
    cursor: pointer;
}

.aiChatbot .chatbotList li:hover:after {
    display: block;
    content: "";
    background-image: url(../../assets/list-arrowleft.png);
    width: 18px;
    height: 18px;
    position: absolute;
    right: 15px;
}

.aiChatbot .chatbotList li:hover .icon {
    /* background: #8573FD; */
    color: #fff;
}



.aiChatbot h1 {
    color: #171A1F;
    font-size: 24px;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
}

.header-container {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}



.chatContainer {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
  }
  
  .darker {
    border-color: #ccc;
    background-color: #ddd;
  }
  
  .chatContainer::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .chatContainer img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
  }
  
  .chatContainer img.right {
    float: right;
    margin-left: 20px;
    margin-right:0;
  }
  
  .time-right {
    float: right;
    color: #aaa;
  }
  
  .time-left {
    float: left;
    color: #999;
  }