/* Chatbot.css */
.chatbotPage {
  height: calc(100vh - 91px);
  margin: 0;

  .header-container {
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
  }

  .chatbot-container {
    display: flex;
    padding: 0;

    .rightBar {
      overflow-y: auto;
      height: calc(100vh - 150px);
      border-radius: 24px;
      background: #F8F8F8;
      width: 100%;
      margin-left: 16px;
      @media screen and (max-width: 992px){
        margin-right: 14px !important;
        
      }

      .toggleMenu {
        // position: absolute;
        // right: 8px;
        // top: 34px;
        cursor: pointer;

        svg {
          font-size: 32px;
        }
      }

      .options {
        padding-bottom: 15px;

        .options-container {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;

          .option-item {
            display: inline-flex;
            padding: 5px 6px 5px 8px;
            justify-content: center;
            align-items: center;
            border-radius: 9px;
            background: #E4E4E4;
            color: #565E6C;
            font-size: 11px;
            font-weight: 400;
            line-height: 18px;
            margin-right: 4px;
            margin-bottom: 5px;
            cursor: pointer;
            transition: transform 0.2s; // Add transition for smooth animation


            &:hover {
              box-shadow: inset 195px 0px 0px #2273c4;
              color: #ffffff;
              animation: bounce 0.5s; // Apply bounce animation on hover

            }
          }
          .selected-destination,.selected-suggestions-destination{
            box-shadow: inset 195px 0px 0px #2273c4;
              color: #ffffff;
            &:hover {
              box-shadow: inset 195px 0px 0px #2273c4;
              color: #ffffff;
              animation: bounce 0.5s; // Apply bounce animation on hover

            }
          }

        }

        .options-header {
          border-radius: 9px;
          background: #F0F1FF;
          display: inline-flex;
          padding: 6px 8px;
          color: #6D7FDC;
          font-size: 12px;
          font-weight: 400;
          line-height: 20px;
        }
      }

      .aiChatbot {
        display: flex;
        align-items: center;
        justify-content: center;

        h1 {
          color: #171A1F;
          font-size: 24px;
          font-weight: 700;
          line-height: 48px;
          text-align: center;
        }

        .chatbotList {
          min-width: 500px;

          li {
            border-radius: 12px;
            background: #FFF;
            align-items: center;
            display: flex;
            list-style: none;
            gap: 15px;
            position: relative;
            border: solid 1px #fff;

            .icon {
              display: block;
              padding: 5px 10px;
              justify-content: center;
              align-items: center;
              border-radius: 9px;
              background: #E8F1FC;
              transition: transform 0.3s ease-in-out;

              img {
                width: 24px;
                margin: 0 auto;
              }
            }

            p {
              color: #171A1F;
              font-size: 13px;
              transition: transform 0.3s ease-in-out;
            }

            &:hover {
              border: 1px solid #8775FD;
              box-shadow: 0px 0px 1px 0px rgba(23, 26, 31, 0.07), 0px 0px 2px 0px rgba(23, 26, 31, 0.12);
              cursor: pointer;

              &:after {
                display: block;
                content: "";
                background-image: url(../../assets/list-arrowright.png);
                width: 24px;
                height: 24px;
                position: absolute;
                right: 15px;
                animation: shake 1s cubic-bezier(.36, .07, .19, .97) both;
              }

              p {
                transform: translateX(-10px);
              }

              .icon {
                animation: shake 1s cubic-bezier(.36, .07, .19, .97) both;
                color: #fff;
              }
            }
          }
          @media screen and (max-width: 767px){
            max-width: 90% !important;
           min-width: 80%;
            
          }
        }
      }

      .tripDetails-grid {
        padding: 10px;

        ul {
          // padding-left: 20px;
        }

        .tripDetails-item {
          padding-left: 20px;

          .card-image-container {
            width: 180px !important;
          }
          @media screen and (max-width: 566px){
            padding-left: 3px;
            .card-image-container {
              width: 100% !important;
            }
            
          }
          .loopCard {
            width: 230px;
          }
        }

        .trip-hotel-title {
          img {
            transition: transform 0.2s;

            &:hover {
              animation: bounce 0.5s infinite;
            }
          }

        }
      }
      &.isOpenedClass{
        .tripDetails-grid { 
          .tripDetails-item { 
            @media screen and (min-width:993px){
              .itinerary-trip-card-title {
                width: 250px;
              }
              .text-over-flow-class{
                max-width: 250px !important;
              }
              .product-slider-card {
                width: 90% !important;
              }
            }
            @media screen and (min-width:1200px)and (max-width: 1350px){
              // .itinerary-trip-card-title {
              //   width: 100% !important;
              // }
              // .text-over-flow-class{
              //   max-width: 100% !important;
              // }
              .product-slider-card {
                width: 90% !important;
                display: flex;
                flex-direction: column !important;
              }
              .card-image-container{
                width: 100% !important;
                height: 150px !important;
                img{
                  height: 150px !important;
                }
              }
              .itinerary-card-content{
                padding-left: 10px !important;
                padding-right: 10px !important;
              }
              
            }    
          }
  
          .trip-hotel-title {
            img {
              transition: transform 0.2s;
  
              &:hover {
                animation: bounce 0.5s infinite;
              }
            }
  
          }
        }
      }
    }

    .sideBar {
      width: 0;
      transition: width 0.3s ease-in-out;
      overflow: hidden;
      border-radius: 24px;
      background: #ECF3FF;
      height: 87vh;


      h2 {
        color: #000;
        font-size: 20px;
        font-weight: 800;
        line-height: 30px;
        text-align: center;
      }

      .buttonTrip {
        border-radius: 20px;
        background: #2554AF;
        color: #FFF;
        font-size: 12px;
        font-weight: 400;
        height: 40px;
        position: relative;
        overflow: hidden;
        padding-left: 10px;
        padding-right: 12px;

        .AddIcon {
          font-size: 20px;
          display: block;
        }

        &:hover {
          background: #2554AF;

          div {
            animation: pulse 1s infinite;
          }

          &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            width: 200%;
            height: 200%;
            background: rgba(255, 255, 255, 0.1);
            border-radius: 50%;
            transform: translate(-50%, -50%) scale(0);
            animation: wave 1s ease-out;
          }
        }
      }

      // left menu 
      .leftMenu {
        h6 {
          color: rgb(23 26 31 / 50%);
          font-size: 12px;
          font-weight: 500;
          line-height: 20px;
        }

        ul {
          li {
            color: #565E6C;
            font-size: 25px;
            font-weight: 400;
            line-height: 22px;
            margin-bottom: 8px;
            transition: transform 0.3s ease-in-out;
            padding-left: 5px;

            .menuText {
              position: relative;
              transition: transform 0.3s ease-in-out;

              span {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                max-width: 150px;
                display: inline-block;
              }

              &::after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 0;
                height: 1px;
                background: #2554af;
                transition: width 0.3s;
              }
            }

            &:hover {
              .menuText {
                &::after {
                  width: 90%;
                }
              }

              background-color: transparent;
              color: #2554AF;
              transform: translateX(10px);
            }
          }
        }
      }
    }

    //custom-scroll
    .custom-scroll {
      overflow-y: scroll !important;

      &::-webkit-scrollbar {
        width: 3px !important;
      }

      &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 18px rgba(250, 250, 251, 0.3);
        -webkit-border-radius: 5px;
        border-radius: 2px;
        margin-top: 16px;
        margin-bottom: 16px;
      }

      &::-webkit-scrollbar-thumb {
        -webkit-border-radius: 5px;
        border-radius: 5px;
        background-color: #dfe2e6 !important;
        width: 6px !important;

        &:hover {
          background: #757d85;
        }
      }
    }

    .react-chatbot-kit-chat-message-container {
      &::-webkit-scrollbar {
        width: 3px !important;
      }

      &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 18px rgba(250, 250, 251, 0.3);
        -webkit-border-radius: 5px;
        border-radius: 2px;
        margin-top: 16px;
        margin-bottom: 16px;
      }

      &::-webkit-scrollbar-thumb {
        -webkit-border-radius: 5px;
        border-radius: 5px;
        background-color: #dfe2e6 !important;
        width: 6px !important;

        &:hover {
          background: #757d85;
        }
      }
    }
  }
}

@keyframes shake {

  10%,
  90% {
    transform: translate3d(-0.5px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(1px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-2px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(2px, 0, 0);
  }
}

@keyframes wave {
  0% {
    transform: translate(-50%, -50%) scale(0);
  }

  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

// Define bounce animation
@keyframes bounce {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

.stats {
  color: white;
  font-size: 0.9rem;
  background-color: rgba(45, 159, 253, 0.589);
  display: flex;
  background: linear-gradient(to top right, rgb(15, 146, 221), #055991);
  border-radius: 10px;
  align-items: center;
  justify-content: center;
}


.sideBar.open {
  transform: translateX(0) !important;
  // transform: translateX(-100%) !important;
  width: 280px !important;

}

.rightBar.rightBarFull {
  .react-chatbot-kit-chat-input-container {
    width: calc(100% - 32px);
  }
}


.chatbotPage {
  overflow-y: scroll !important;

  &::-webkit-scrollbar {
    width: 3px !important;
  }

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 18px rgba(250, 250, 251, 0.3);
    -webkit-border-radius: 5px;
    border-radius: 2px;
    margin-top: 16px;
    margin-bottom: 16px;
  }

  &::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: #dfe2e6 !important;
    width: 6px !important;

    &:hover {
      background: #757d85;
    }
  }
}

// .vertical-line {
//   border-left: 3px solid black;
//   height: 25px;
//   position: fixed;
//   // position: relative;
//   display: inline-block;
//   width: 131px;
//   top: 40%;
//   // top:160px;
//   margin-left: 2px;
//   cursor: pointer;
//   &:hover{
//      z-index: 11;
//   // background: url("../../assets/accommodation_icon.svg") no-repeat;

//    }

// }

// .vertical-line:hover::after {
//   // content: "Close Sidebar";
//   position: absolute;
//   left: 10px;
//   top: 50%;
//   transform: translateY(-50%);
//   background-color: #1565c0;
//   padding: 5px 10px;
//   border-radius: 10px;
//   font-size: 12px;
//   // z-index: 11 !important;
//   color: #fff;

//   &::before {
//     content: "";
//     position: absolute;
//     top: 50%;
//     left: -20px; // Adjust as needed
//     border: solid black;
//     border-width: 0 3px 3px 0;
//     display: inline-block;
//     padding: 3px;
//     transform: rotate(135deg);
//     -webkit-transform: rotate(135deg);
//   }
// }
// .open-sidebar-content:hover::after {
//   content: "Close Sidebar";
// }
// .close-sidebar-content:hover::after {
//   content: "Open Sidebar";
  
// }

.sidebar-vertical-lines{
  display: none;
}
@media screen and (max-width:992px){
  .sideBar{
    position: absolute;
    z-index: 1299;
  }
  .sideBar.open {
    transform: translateX(0) !important;
    width: 230px !important;
}
.sideBar.open .sidebar-vertical-lines{
  position: fixed;
  top: 43%;
  right: 0;
  margin-right: 4px;
  cursor: pointer;
  z-index: 1;
  display: inline-block;
}

.sideBar .sidebar-vertical-lines .lines {
  border-radius: 9999px;
  height: 16px;
  width: 4px;
  background-color: #44A0BC;
  cursor: pointer;
}
 
// .sideBar .sidebar-vertical-lines .lineOne {
//   transform: translateY(0.15rem) rotate(0deg) ;
// }
 
// .sideBar .sidebar-vertical-lines .lineTwo {
//   transform: translateY(-0.15rem) rotate(0deg);
// }
 
.sideBar .sidebar-vertical-lines .lineOne {
  transform: translateY(0.15rem) rotate(15deg) !important;
}
 
.sideBar .sidebar-vertical-lines .lineTwo {
  transform: translateY(0.15rem) rotate(-15deg) !important;
  position: relative;
  top: -3px;
}
 
.sideBar .sidebar-vertical-lines:hover::before {
  content: "Close sidebar";
  position: absolute;
  background-color: #000;
  font-size: 12px;
  color: #fff;
  padding: 5px 8px;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 10px;
  top: 0;
  right: 16px;
  text-wrap: nowrap;
}
.react-chatbot-kit-chat-input-container {
  width: calc(100% - 70px) !important;
}

}
///////////////////////////////////////////////////////////////////////////////////

.rightSide .vertical-lines {
  // position: relative;
  position: fixed;
  // top: 100px;
  top: 45%;
  // left:0;
  margin-left: 4px;
  cursor: pointer;
  z-index: 1;
  display: inline-block;
}
 
.rightSide .vertical-lines .lines {
  border-radius: 9999px;
  height: 16px;
  width: 4px;
  background-color: #44A0BC;
  cursor: pointer;
}
 
.rightSide .vertical-lines .lineOne {
  transform: translateY(0.15rem) rotate(0deg) ;
}
 
.rightSide .vertical-lines .lineTwo {
  transform: translateY(-0.15rem) rotate(0deg);
}
 
.rightSide .vertical-lines .lineOne {
  transform: translateY(0.15rem) rotate(15deg) !important;
}
 
.rightSide .vertical-lines .lineTwo {
  transform: translateY(0.15rem) rotate(-15deg) !important;
  position: relative;
  top: -3px;
}
 
.rightSide .vertical-lines:hover::after {
  content: "Close sidebar";
  position: absolute;
  background-color: #000;
  font-size: 12px;
  color: #fff;
  padding: 5px 8px;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 10px;
  top: 0;
  left: 16px;
  text-wrap: nowrap;
}
 
.rightSide .vertical-lines:hover::before {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 0px 8px 8px 8px;
  border-color: #000 transparent;
  display: block;
  width: 0;
  z-index: 1;
  transform: rotate(270deg);
  bottom: 13px;
  left: 5px;
}
 
.rightBarFull .vertical-lines:hover::after {
  content: "Open sidebar";
 
}
 
.rightBarFull .vertical-lines .lineOne,
.rightBarFull .vertical-lines .lineOne
 {
  transform: translateY(0.15rem) rotate(-15deg) !important;
}
 
.rightBarFull .vertical-lines .lineTwo,
.rightBarFull .vertical-lines .lineTwo  {
  transform: translateY(-0.15rem) rotate(15deg) translateZ(0px) !important;
 top: 0;
}
   
/////////////////////////////////////////////////////////////////////////

.trip-location-list-items{
  border-radius: 10px;
  background-color: #fff;
  width: 30%;
  list-style-type: none;
  cursor: pointer;
  transition: transform 0.2s;
    &:hover {
      // background: #757d85;
      // color: #fff;
      border: 1px solid #8775FD;
      // 
      animation: normal-bounce 0.5s;
    }
    h5{
      font-size: 12px;
      font-weight: 600;
    }
    @media screen and (max-width: 767px){
      width: 90%;
          
        }
}
.active-family-destination, .active-solo-destination{
  border: 1px solid #8775FD;
}
@keyframes normal-bounce {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.03);
  }

  100% {
    transform: scale(1);
  }
}
.trip-location-list-items-paragraph{
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  display: -webkit-box !important;
  -webkit-box-orient: vertical !important;
  -webkit-line-clamp: 2; /* number of lines to show */
  font-size: 11px;
  font-weight: 400;
 
}
.tripDurationChip, .tripDurationChip button{
  background: #E4E4E4 !important;
  color: #565E6C !important;
  font-size: 11px !important;
  font-weight: 600 ;
  &:hover {
    box-shadow: inset 195px 0px 0px #2273c4 !important;
    color: #ffffff !important;
    animation: bounce 0.5s; // Apply bounce animation on hover
  }
}

.selected-trip-duration, .selected-trip-duration button{
  // background: #E4E4E4 !important;
  box-shadow: inset 195px 0px 0px #2273c4 !important;
  color: #ffffff !important;
  &:hover {
    box-shadow: inset 195px 0px 0px #2273c4 !important;
    color: #ffffff !important;
    animation: bounce 0.5s; // Apply bounce animation on hover
  }
}
.tripPlanSuggestionsCard{
  border-radius: 10px;
  background-color: #fff;
  // list-style: disc;
  li{
    list-style-position: inside !important;
  &::marker{
    // content: "•";
    color: #8775FD !important;
  }
  // span {
  //   position: relative;
  //   left: -10px;
  // }
}
}

