.css-3dzjca-MuiPaper-root-MuiPopover-paper-MuiMenu-paper{
    /* width: 170px;
    top: 70px !important; */
}
.home-search-link:hover{
    color: blue !important;
    text-decoration: underline !important;
}
.user-name{
  width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 600;
  text-transform: capitalize;
}
.user-profile-links:hover{
    color: blue !important;

}