.css-3dzjca-MuiPaper-root-MuiPopover-paper-MuiMenu-paper{
    width: 170px;
    top: 70px !important;
}
.home-search-link:hover{
    color: blue !important;
    text-decoration: underline !important;
    }