.button:disabled {
    opacity: 0.5 !important;
}
.trip-errors{
    background-color: #fff !important;
    padding: 3px !important;
    margin-top: 2px;
    border-radius: 3px;
    border-style: solid !important;
    border: 5px;
    font-size: 17px;
    border-right: 0px;
    border-top: 0px;
    border-bottom: 0px;
    border-color: red !important; 
    width: 40%;
    /* text-align: center !important; */
}
.trip-recommended-hotel{
    font-size: 16px !important;
    font-weight: 500 !important;
    text-decoration: underline;
}
.trip-hotel-address{
    font-size: 13px;
    font-weight: 500;
}
.trip-hotel-price{
    font-size: 13px;
    font-weight: 500;
}
.trip-hotel-title{
    font-size: 15px;
    font-weight: 500;
}
.trip-hotel-details-span{
    font-size: 13px;
    font-weight: 400;
}